/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --pinch: #FFF3E3;
  --brown: #B88E2F;
  --gray: #666666;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  margin-top: 0;
  margin-bottom: 0;
}

h5{
  margin-top: 0;
  margin-bottom: 0;
}

h6{
  margin-top: 0;
  margin-bottom: 0;
}

p{
  margin-bottom: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1640px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px 0;
  z-index: 999;
  background-color: var(--white);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

.header-option {
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
  font-weight: 500;
}

.header-option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}

.header-online-opetions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.hero-content {
  background-color: var(--pinch);
  padding: 62px 43px 37px 39px;
  max-width: 880px;
  border-radius: 10px;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(-2% , -50%);
}

.hero-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.hero-main-title {
  color: var(--brown);
  font-size: 65px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 570px;
  margin-top: 16px;
}

.hero-section {
  position: relative;
}

.hero-bg-img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.hero-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}

.hero-btn {
  position: relative;
  overflow: hidden;
  padding: 20px 50px;
  color: var(--white);
  background-color: var(--brown);
  margin-top: 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.hero-btn::after {
  left: 0;
}

.hero-btn::before {
  right: 0;
}

.hero-btn::after,
.hero-btn::before {
  position: absolute;
  content: "";
  top: 0;
  width: 0%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  background-color: var(--white);
  z-index: -1;
}

.hero-btn:hover.hero-btn::after,
.hero-btn:hover.hero-btn::before {
  width: 100%;
}

.hero-btn:hover {
  color: var(--brown);
}

.about-section {
  padding-top: 30px;
  padding-bottom: 60px;
}

.about-title {
  font-size: 32px;
}

.about-content {
  text-align: center;
}

.about-description {
  font-size: 18px;
  line-height: 1.1;
  color: var(--gray);
  margin-top: 14px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin-top: 50px;
}

.about-content-card img {
  border-radius: 10px;
}

.about-card-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.about-content-card{
  text-align: center;
}

.about-img{
  width: 100%;
}

.product-section{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.product-title{
  font-size: 40px;
}

.product-wrapper{
  margin-top: 36px;
}

@media screen and (max-width:1024px){
  .hero-content {
    right: 50%;
    top: 50%;
    transform: translate(50% , -50%);
    padding: 32px 24px;
  }

  .hero-main-title{
    font-size: 52px;
  }
}

@media screen and (max-width:991px){
  .header-online-opetions{
    display: none;
  }
}

@media screen and (max-width:768px){
  .header-option-content{
    display: none;
  }

  .hero-main-title{
    font-size: 42px;
  }

  .about-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:575px){
  .hero-main-title{
    font-size: 32px;
  }

  .hero-content {
    max-width: none;
  }

  .hero-description{
    font-size: 16px;
  }

  .about-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}