/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --pinch: #FFF3E3;
  --brown: #B88E2F;
  --gray: #666666;
  --light-gray: #ede8e8;
  --transperent: #ffffff00;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0px;
  margin-bottom: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--white);
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1640px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 22px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
  background-color: var(--transperent);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
}

.btn svg {
  width: 20px;
  aspect-ratio: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  background-color: var(--white);
  border-radius: 30px;
  padding: 12px 16px;
  max-width: max-content;
}

.btn-wrapper {
  height: 20px;
  overflow: hidden;
}

.btn-text {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  display: block;
}

.btn-text-2 {
  transform: translateY(20px);
}

.btn:hover .btn-text {
  transform: translateY(-20px);
}

.btn:hover .btn-text-2 {
  transform: translateY(-20px);
}

.harmburger {
  display: none;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-wrapper {
  position: absolute;
  bottom: 50%;
  z-index: 2;
  transform: translateY(50%);
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  background-color: rgba(255, 255, 255, 0.342);
  padding: 6px;
  border-radius: 6px;
  max-width: 200px;
}

.hero-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.hero-content svg {
  width: 30px;
  aspect-ratio: 1;
}

.hero-main-title {
  font-size: 62px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 16px;
}

.hero-main-title span {
  font-family: "Lora", serif;
}

.hero-btn-content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.slider-section {
  background-color: var(--color-gray-200);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--color-gray-400);
  padding: 50px 0px;
  margin-top: -50px;
  position: relative;
}

.slider-slide {
  border-right: 1px solid var(--color-gray-400);
  padding-inline: 20px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-left: 1px solid var(--color-gray-300);
  border-right: 1px solid var(--color-gray-300);
  position: relative;
}

.about-item {
  border-right: 1px solid var(--color-gray-300);
  width: 100%;
  min-height: 700px;
}

.about-item:last-child {
  border-right: 0;
}

.about-content-2 {
  background-color: #dcd8d5;
  color: #433c39;
}

.about-content {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-section {
  min-height: 600px;
  background-color: var(--color-gray-200);
}

.about-title {
  color: #433c39;
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 1.3;
}

.about-btn {
  margin-top: 20px;
}

.about-content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-left: 1px solid var(--color-gray-300);
  border-right: 1px solid var(--color-gray-300);
  border-top: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
}

.about-card {
  border-right: 1px solid var(--color-gray-300);
  text-align: center;
  padding: 50px;
  color: #433c39;
}

.about-card:last-child {
  border-right: 0;
}

.about-head {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.about-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.service-content-2{
  color: #433c39;
}

.service-section{
  background-color: var(--color-gray-200);
  padding-top: 150px;
  padding-bottom: 150px;
}

.service-title{
  font-size: 60px;
  color: var(--black);
  line-height: 1.1;
  font-weight: 500;
  max-width: 650px;
  margin-top: 20px;
}

.service-title span{
  font-family:  "Lora", serif;
}

.service-wrapper{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 30px;
}

.service-content-3{
  max-width: 500px;
}

.service-description{
  font-size: 16px;
  color: #433c39;
}

.btn-wrappers{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width:1024px) {
  .hero-main-title {
    font-size: 52px;
  }

  .about-card {
    border-right: 1px solid var(--color-gray-300);
    text-align: center;
    padding: 40px;
  }

  .about-title{
    font-size: 24px;
  }
}

@media screen and (max-width:768px) {
  .harmburger {
    display: block;
  }

  .hero-main-title {
    font-size: 42px;
  }

  .about-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .about-item {
    min-height: 600px;
  }
}

@media screen and (max-width:575px) {
  .hero-main-title {
    font-size: 34px;
  }

  .hero-wrapper {
    max-width: 100%;
  }

  .about-content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}