/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --pinch: #FFF3E3;
  --brown: #B88E2F;
  --gray: #666666;
  --light-gray: #ede8e8;
  --transperent: #ffffff00;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

ul{
  padding-left: 0px;
  margin-bottom: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--white);
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1640px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 22px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.103);
  background-color: var(--transperent);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
}

.btn svg {
  width: 20px;
  aspect-ratio: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  background-color: var(--white);
  border-radius: 30px;
  padding: 12px 16px;
  max-width: max-content;
}

.btn-wrapper {
  height: 20px;
  overflow: hidden;
}

.btn-text {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  display: block;
}

.btn-text-2 {
  transform: translateY(20px);
}

.btn:hover .btn-text {
  transform: translateY(-20px);
}

.btn:hover .btn-text-2 {
  transform: translateY(-20px);
}

.harmburger {
  display: none;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.185);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-wrapper {
  position: absolute;
  bottom: 50%;
  z-index: 2;
  transform: translateY(50%);
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  background-color: rgba(255, 255, 255, 0.342);
  padding: 6px;
  border-radius: 6px;
  max-width: 200px;
}

.hero-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--white);
}

.hero-content svg {
  width: 30px;
  aspect-ratio: 1;
}

.hero-main-title {
  font-size: 62px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 16px;
}

.hero-main-title span {
  font-family: "Lora", serif;
}

.hero-btn-content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.slider-section{
  background-color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid var(--color-gray-400);
}

@media screen and (max-width:1024px){
  .hero-main-title{
    font-size: 52px;
  }
}

@media screen and (max-width:768px) {
  .harmburger {
    display: block;
  }

  .hero-main-title{
    font-size: 42px;
  }
}

@media screen and (max-width:575px){
  .hero-main-title{
    font-size: 34px;
  }

  .hero-wrapper{
    max-width: 100%;
  }
}